# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.CryptoRobot.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Usuario\RiderProjects\CryptoRobot\.idea\.idea.CryptoRobot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
